@{
    ViewData["Title"] = "Privacy Policy";
    DateTime fecha = new DateTime(2024, 3, 7);
}
<h1>@ViewData["Title"]</h1>

<p>Esta página fue realizada por Alex Caicedo Ramos el @fecha.ToString("yyyy-MM-dd").</p>
